services:
  db:
    image: postgres:15
    container_name: nekwasar_postgres_local
    restart: always
    environment:
      POSTGRES_USER: nekwasar_user
      POSTGRES_PASSWORD: local_password
      POSTGRES_DB: nekwasar_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: nekwasar_pgadmin_local
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - db

volumes:
  postgres_data:
